name: Dependency Submission Gradle

on:
  workflow_call:
    inputs:
      githubUser:
        required: false
        type: string
        description: GitHub Username
        default: x-access-token
      java-version:
        description: "Java version to run on"
        required: false
        type: string
        default: '17'

jobs:
  build:
    name: Dependency Submission
    runs-on: ubuntu-latest
    env:
      ORG_GRADLE_PROJECT_githubUser: ${{ inputs.githubUser }}
      ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}
    permissions: # The Dependency Submission API requires write permission
      contents: write

    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v6

      - name: 'Setup Java with'
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ inputs.java-version }}

      - name: 'Generate and submit dependency graph'
        uses: gradle/actions/dependency-submission@v4
