  name: 'Deploy application'

  on:
    workflow_call:
      inputs:
        cluster-name:
          required: true
          type: string
          description: 'Deploy to which Cluster'
        resource-name:
          required: true
          type: string
          description: 'k8s resource file'
        resource-folder:
          required: false
          type: string
          description: 'Folder for K8s config'
          default: 'dev'

  jobs:
    build-image-and-tag:
      name: 'Build and deploy image'
      runs-on: ubuntu-latest
      outputs:
        image: ${{ steps.docker-build-push.outputs.image }}
      env:
        ORG_GRADLE_PROJECT_githubUser: 'x-access-token'
        ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}
      steps:
        - uses: actions/checkout@v6

        - name: 'Release tag and Build Image'
          id: docker-build-push
          uses: navikt/sosialhjelp-ci/actions/build-for-deploy-kotlin@main

    deploy:
      name: 'Deploy to ${{ inputs.cluster-name }}'
      runs-on: ubuntu-latest
      needs: build-image-and-tag
      steps:
        - uses: actions/checkout@v6

        - uses: nais/deploy/actions/deploy@v2
          env:
            RESOURCE: nais/${{ inputs.resource-folder }}/${{ inputs.resource-name }}.yaml
            CLUSTER: ${{ inputs.cluster-name }}
            REF: ${{ github.sha }}
            PRINT_PAYLOAD: true
            VAR: image=${{ needs.build-image-and-tag.outputs.image }}

